.header {
 
  &__nav {
    &__list {
      display: flex;
      flex-direction: row;
      margin: 0px;
      padding:0px;
      &__item {

        &__drag__handle {
          flex: 0 1 48px;
        }
        &__website__name {
          flex: 0 1 100px;
          margin: 3px;
          font-weight: bold;
          list-style-type: none;
        }
        &__search {
          flex: 0 1 300px;
          background: #f8f8f7;
          border-radius: 0.5em;
          display:flex;
          input{
            flex: 0 1 300px;
            background: #f8f8f7;
            border-radius: 0.5em;
            border-style: none;
            border-radius: 0.5em;
          }
        }
      }
    }
  }
}
.material-icons {
  padding: 1px 10px;
}
