<header class="header">
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="header__nav__list__item header__nav__list__item__drag__handle material-icons">
        drag_handle
      </li>
      <li class="header__nav__list__item header__nav__list__item__website__name">
        Chukwudi
      </li>
      <li class="header__nav__list__item header__nav__list__item__search">
        <i class="material-icons">search</i>
        <input placeholder="search">
      </li>

    </ul>
  </nav>
</header>