.card {
  width: 75px;
  height: 120px;
  border-radius: 2.7em;
  color: black;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}

.card-container {
  width: 50px;
  height: 50px;
  margin: 10px;
  background: white;
  border-radius: 50%;
  border: solid grey;
  display: inline-block;
}
h4 {
  margin: 0px;
  color: black;
}

.card-container-img {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 2em;
  z-index: 1;
}

a {
  text-decoration: inherit;
}
