<a href="#" class="food-categories-main-container">
    <div class="food-categories-img-container">
        <div class="food-categories-img">
            <img src="/assets/food.svg " style='height: 100%; width: 100%; object-fit: contain'>
        </div>
        <div class="food-categories-title">
            <b>All</b>
        </div>
    </div>

</a>
<a href="#" class="food-categories-main-container">
    <div class="food-categories-img-container">
        <div class="food-categories-img">
            <img src="/assets/pizza.svg " style='height: 100%; width: 100%; object-fit: contain'>
        </div>
        <div class="food-categories-title">
            <b>sushcccciccccccsss</b>
        </div>
    </div>
</a>