<app-header></app-header>
<app-home></app-home>
<div class="card-container">
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
  <app-food-categories-card class="card"></app-food-categories-card>
</div>

<router-outlet></router-outlet>
