.main-container {
  width: 20%;

  .card-img {
    p {
      position: absolute;
      margin: 0px;
    }
    img {
      width: 100%;
      min-width: 220px;
      height: auto;
      border-radius: 1em;
    }
  }
  .card-content {
    width: 70%;
    padding-top: 10px;

    .restaurant-details {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      p {
        color: #959595;
        margin: 0;
      }
      .inline-icon {
        vertical-align: bottom;
        font-size: 18px !important;
      }
    }
  }
}
