<div class="main-container">
    <div class="card-img">
        <p class="schedule">scbnbnbnnbsc</p>
        <img src="/assets/bagel_story.jpg">
    </div>
    <div class="card-content">
        <strong class="restaurant-name">Bagel Story</strong>
        <div class="restaurant-details">
            <div>
                <i class="material-icons inline-icon">star_outline</i>
                <b> 4.7</b>
            </div>
            <p>Deli</p>
            <p>Bagels</p>
            <p>$$</p>
        </div>
    </div>
</div>