/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  padding: 25px 0px 0px 50px;
  list-style: none;
  text-decoration: none;
  background: #fcfcfc;
}
